<header>
	<h1 class = "header">Welcome to CRM!</h1>
		<h3 class = "header">
			This CRM app can be used to store customer information!
		</h3>
			<nav class = "top">
					<ul class = "nav">
						<li class = "nav"><a href="/contacts/new">Create Contact</a></li>
						<li class = "nav"><a href="/contacts">Display Contacts</a></li>
						<li class = "nav"><a href="/contacts/modify">Modify Contact</a></li>
						<li class = "nav"><a href="/contacts/delete">Delete Contact</a></li>
					</ul>
			</nav>
</header>