<h1>Welcome to <%= @crm_app_name %>!</h1>
	<p>
		This CRM app can be used to store customer information!
	</p>

	<ul>
		<li><a href="/contacts">Display Contacts</a></li>
		<li><a href="contacts/new">Create Contact</a></li>
		<li><a href="contacts/modify">Modify Contact</a></li>
		<li><a href="contacts/delete">Delete Contact</a></li>
	</ul>





